@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html * {
    
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #323232;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 16px;
  }

.link{
    color: #f44336;
}

.link:hover{
    color: rgb(244,67,54,0.7);
}

li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

button {
    padding: 10px 25px;
    background-color: rgba(92, 149, 174,1);
    border: none;
    /* border-radius: 50px; */
    cursor: pointer;
    transition: all 0.1s eaes 0s;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

button:hover {
    background-color: rgba(92, 149, 174,0.5);
}

.text-box {
    position: absolute;
    top: 210px;
    left: 450px;
    width: 775px;
    height: 400px;
}

.text-box3 {
    position: absolute;
    top: 212px;
    left: 750px;
    width: 775px;
    height: 400px;
}



